.buttonHome {
  background-color: transparent;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 20px;
}

.imgBtn {
  width: 60px;
}

.navBar {
  position: fixed;
  right: -100%;
}

.active {
  right: 0;
}
