.buttonHome {
  background-color: transparent;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 20px;
}

.imgBtn {
  width: 60px;
}

.navBar {
  position: fixed;
  left: -100%;
  transition: 0.5s ease-in-out;
  z-index: auto;
}

.active {
  left: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.navbarHome {
  font-size: 92px;
  margin: 50px;
}
