.buttonHome {
  background-color: transparent;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 20px;
}

.imgBtn {
  width: 60px;
}

.navBar {
  position: fixed;
  left: -100%;
  transition: 0.5s ease-in-out;
}

.active {
  left: 0;
  transition: 0.5s ease-in-out;
}
