@import url("https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.titleHome {
  font-size: 48px;
  font-family: "Nova Slim", cursive;
  text-align: center;
  margin-top: 20%;
  letter-spacing: 30px;
  color: white;
}

.subtitleHome {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .titleHome {
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40%;
  }

  .subtitleHome {
    font-size: 24px;
  }
}
