@import url("https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap");

h1 {
  font-family: "Nova Slim", cursive;
  letter-spacing: 10px;
}

.siteBtn {
  cursor: pointer;
}

.containerWork {
}
